<nav>
  <%- include('./navbarLeftMenu.ejs') %> <%- include('./navbarCenterMenu.ejs')
  %> <%- include('./navbarSearchBar.ejs') %>

  <div class="search-button-right-menu">
    <ul>
      <li id="search-icon">
        <a id="search"><i class="fa fa-search"></i></a>
      </li>
      <li id="close-icon">
        <a id="close"><i class="fa fa-times"></i></a>
      </li>
    </ul>
  </div>

  <%- include('./navbarRightMenu.ejs') %> <%- include('./navbarToggleMenu.ejs')
  %>
</nav>
