<section class="categories">

    <% categories.forEach(categories => { %>
        <a href="/getProduct/?product=<%= categories.categoriesName %>">
            <div class="categoriesItem">
                <div class="categoriesImage">
                    <img class="<%= categories.fixProductImage %>" src="<%= categories.imageUrl %>" alt="<%= categories.originalName %>">
                </div>
                <div class="categoriesName">
                    <h6 class="name"><%= categories.originalName %></h6>
                </div>
                <div class="categoriesDiscount">
                    <p class="categoriesDiscountPercent"><%= categories.offPercent %></p>
                </div>
            </div>
        </a>
  <% }) %>

   
    

</section>
